{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>RISTEK MedSOS - Beranda</title>
<script src="{% static 'information/script.js' %}" defer></script>
{% endblock meta %}

{% block content %}
<div id="content" class="p-8">
    <div class="welcome-message text-3xl text-center font-bold mb-8">
        Welcome back,<br>
        <span class="text-cyan-200">@user_id</span>
    </div>
    <div class="feature-container flex flex-wrap justify-center gap-4 mb-8">
        <textarea placeholder="What's happening?" name="post" id="post" cols="30" rows="8"
            class="bg-primary-color rounded p-2" required></textarea>
        <div class="buttons flex flex-col gap-4 grow max-w-[250px] justify-end">
            <button class="border p-2">Edit Close Friends</button>
            <button class="border p-2">Post</button>
        </div>
    </div>
    
    <div class="tweets-container flex justify-center">
        <div id="tweets" class="flex flex-col gap-4 w-[520px]"
            data-gettweeturl="{% url 'tweet_api:view_tweets' %}" data-getuserurl="{% url 'authentication_feature:user_data' pk=0 %}">
        </div>
    </div>
</div>
{% endblock content %}