{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>RISTEK MedSOS - Registration</title>
<script src="{% static 'authentication_feature/script.js' %}" defer></script>
<script src="{% static 'information/script.js' %}" defer></script>
{% endblock meta %}

{% block content %}
<div id="profile" class="flex justify-center border min-h-[80vh]">
    <div class="profile-container border p-4 w-[750px] shrink">
        <div class="user-profile flex flex-wrap justify-between items-center gap-4 mb-4">
            <div class="flex justify-between items-center gap-4">
                <div class="image"><img src="{{ profile_user.profile.avatar.url }}" alt="avatar" class="rounded-full"
                        width="80"></div>
                <span class="flex items-center text-cyan-200 text-3xl text-center font-bold">@{{ profile_user.username }}</span>
            </div>
            {% if active_user %}
            <a href="{% url 'authentication_feature:edit_profile_page' username=user.username %}"
                class="border grow p-2 max-w-[100px] text-center">Edit Profile</a>
            {% endif %}
        </div>
        <div class="bio p-4 border max-w-[768px] min-h-[128px] mb-4">
            {{ profile_user.profile.bio|default:"Nothing in bio yet" }}
        </div>
        <div class="tweets-container flex justify-center" data-userpk="{{ user.pk }}">
            <div id="tweets" class="flex flex-col gap-4 w-full"
                data-param="user={{ profile_user.pk }}">
            </div>
        </div>
        <form class="hidden">
            {% csrf_token %}
        </form>
    </div>
</div>

<!-- Delete Modal -->
<div id="delete-modal" class="hidden">
    <div id="delete-modal-container" class=" bg-slate-800 bg-opacity-50 flex justify-center items-center fixed inset-0">
        <div class="bg-white px-16 py-14 rounded-md text-center">
          <h1 class="text-xl mb-4 font-bold text-slate-500">Do you Want Delete Tweet?</h1>
          <button id="delete-cancel-button" class="bg-red-500 px-4 py-2 rounded-md text-md text-white">Cancel</button>
          <button id="delete-ok-button" class="bg-indigo-500 px-7 py-2 ml-2 rounded-md text-md text-white font-semibold">Ok</button>
        </div>
      </div>
</div>

<!-- Edit Modal -->
<div id="edit-modal" class="hidden">
    <div id="edit-modal-container" class=" bg-slate-800 bg-opacity-50 flex justify-center items-center fixed inset-0">
        <div class="bg-white px-16 py-14 rounded-md text-center">
            <h1 class="text-xl mb-4 font-bold text-slate-500">Edit Tweet?</h1>
            <div class="edit-container mb-4">
                <textarea name="content" cols="30" rows="8" class="text-black rounded p-2" required></textarea>
            </div>
            <div class="buttons">
                <button id="edit-cancel-button" class="bg-red-500 px-4 py-2 rounded-md text-md text-white">Cancel</button>
                <button id="edit-ok-button" class="bg-indigo-500 px-7 py-2 ml-2 rounded-md text-md text-white font-semibold">Ok</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}