{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <script src="https://cdn.tailwindcss.com" async></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js" defer></script>
    {% block meta %} {% endblock meta %}
</head>


<body class="min-h-screen bg-primary-color text-white font-sans">
    <div id="header" class="flex justify-between items-center px-8 py-4">
        <div class="logo-container flex items-center gap-4">
            <div class="logo"><a href="{% url 'information:index' %}">Logo</a></div>
            <div class="name font-bold text-xl"><a href="{% url 'information:index' %}">RISTEK MedSOS</a></div>
        </div>
        <div class="profile-container flex items-center gap-4">
            {% if user.is_active %}
            <div class="profile-picture"><a
                    href="{% url 'authentication_feature:profile_page' username=user.username %}"><img
                        src="{{ user.profile.avatar.url }}" alt="avatar" class="rounded-full max-w-[30px]"></a></div>
            <div class="profile-name"><a
                    href="{% url 'authentication_feature:profile_page' username=user.username %}">{{ user.username }}</a></div>
            {% else %}
            <div class="register"><a href="{% url 'authentication_feature:register_page' %}">Register</a></div>
            <div class="register"><a href="{% url 'authentication_feature:login_page' %}">Login</a></div>
            {% endif %}
        </div>
    </div>
    {% block content %} {% endblock content %}
</body>

</html>