{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block meta %} {% endblock meta %}
</head>

<body class="min-h-screen bg-primary-color text-white primary-font">
    <div id="header" class="flex justify-between items-center px-8 py-4">
        <div class="logo-container flex items-center gap-4">
            <div class="logo"><a href="{% url 'information:index' %}"><svg width="31" height="50" viewBox="0 0 31 50"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M3.75109 3.86828L0.0490623 7.73438L0.0401561 28.8672L0.03125 50H3.70203H7.37281L7.41297 39.0645L7.45312 28.1291L16.0698 38.6348C20.8092 44.413 24.825 49.3123 24.9942 49.5223L25.3016 49.9039L28.018 47.4281C29.512 46.0664 30.7344 44.897 30.7344 44.8297C30.7344 44.7623 27.5352 40.7569 23.625 35.9284C19.7148 31.1002 16.4922 27.088 16.4636 27.0123C16.4345 26.9359 17.9933 26.8736 19.9792 26.872L23.5469 26.8689L27.2578 22.9736L30.9688 19.0783V13.425V7.77156L28.8306 5.48734C27.6545 4.23109 25.9859 2.4825 25.1225 1.60156L23.5525 0L15.5028 0.00109375L7.45312 0.00218749L3.75109 3.86828ZM20.3186 7.75922L23.625 7.86219V13.5422V19.222L16.8672 19.1814L10.1094 19.1406L8.75609 21.875L7.40281 24.6094L7.38891 16.1328L7.375 7.65625H12.1936C14.8438 7.65625 18.5 7.70266 20.3186 7.75922Z"
                            fill="white" />
                    </svg>
                </a></div>
            <div class="name font-bold text-2xl"><a href="{% url 'information:index' %}">RISTEK MedSOS</a></div>
        </div>
        <div class="profile-container flex items-center gap-4">
            {% if user.is_active %}
            <div class="profile-picture max-sm:hidden"><a
                    href="{% url 'authentication_feature:profile_page' username=user.username %}"><img
                        src="{{ user.profile.avatar.url }}" alt="avatar" class="rounded-full" width="30"></a></div>
            <div class="profile-name text-lg max-sm:hidden"><a
                    href="{% url 'authentication_feature:profile_page' username=user.username %}">{{ user.username }}</a></div>

            <!-- Component is created by M.Appelman (https://codepen.io/huphtur/pen/ordMeN) -->
            <div class="dropdown inline-block relative group">
                <button class="bg-white text-gray-700 font-semibold py-2 px-4 mr-3 rounded inline-flex items-center">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                </button>
                <ul class="dropdown-menu absolute hidden z-20 text-gray-700 pt-1 group-hover:block">
                    <li class=""><a class="rounded-t bg-white hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                            href="{% url 'authentication_feature:profile_page' username=user.username %}">Profile</a>
                    </li>
                    <li class=""><a class="bg-white hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                            href="{% url 'authentication_feature:edit_profile_page' username=user.username %}">Edit
                            Profile</a></li>
                    <li class=""><a
                            class="rounded-b bg-red-500 text-white hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                            href="{% url 'authentication_feature:logout' %}">Logout</a></li>
                </ul>
            </div>

            {% else %}
            <div class="register text-lg max-sm:hidden"><a
                    href="{% url 'authentication_feature:register_page' %}">Register</a></div>
            <div class="login text-lg max-sm:hidden"><a href="{% url 'authentication_feature:login_page' %}">Login</a>
            </div>
            <div class="dropdown inline-block relative sm:hidden group">
                <button class="bg-white text-gray-700 font-semibold py-2 px-4 mr-3 rounded inline-flex items-center">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                </button>
                <ul class="dropdown-menu absolute hidden z-20 text-gray-700 pt-1 group-hover:block">
                    <li class=""><a class="rounded-t bg-white hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                            href="{% url 'authentication_feature:register_page' %}">Register</a>
                    </li>
                    <li class=""><a class="rounded-b bg-white hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                            href="{% url 'authentication_feature:login_page' %}">Login</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
    {% block content %} {% endblock content %}
</body>

</html>